.blocks
    &__items 
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &__item
        transform: perspective(1000px)
        // background: linear-gradient(315deg, rgba(122,121,126,1) 0%, rgba(11,11,17,1) 100%, rgba(50,86,96,1) 100%)
        min-height: 0
        min-width: 0
        cursor: pointer
        margin-top: 20px
        background-color: #F6F6F6 
        width: 32%
        min-height: 250px
        max-height: 300px
        display: flex
        justify-content: space-around
        align-items: center
        transform-style: preserve-3d
    &__item-img
        transform: translateZ(50px) 
        width: 45% 
        display: flex
        justify-content: center
        img
            
            max-width: 100%
            max-height: 100%
    &__item-tittle 
        transform: translateZ(50px)
        width: 45%
        font-weight: 500
        font-size: 120% 
        text-decoration: none
		

