@media screen and ( max-width: 1200px)
    // .catalog
        // form
            // input
                // flex-grow: 1
    // .navigation__links
        // width: 100%
        // display: flex
        // justify-content: center
    .blocks__item
        width: 45%
    .brends__item
        width: 32%
    .news__item
        width: 30%
 
