@media screen and ( max-width: 1200px)
    // .catalog
        // form
            // input
                // flex-grow: 1
    // .navigation__links
        // width: 100%
        // display: flex
        // justify-content: center
    .blocks__item
        width: 45%
    .brends__item
        width: 32%
    .news__item
        width: 30%
    .navigation__item
        margin-left: 30px    
    .navigation__inner
        position: relative
        justify-content: start
    .form-block
        padding-top: 15px
        margin: 0
        height: 50px
        top: 50%
        transform: translateY(-50%)
        right: 40px
        position: absolute
        display: flex
        align-items: center
        form
            display: none            
    .form-block::before
        font-family: 'icomoon'
        content: "\e986"
        font-size: 30px
