@import 'header'
@import 'navigation'
@import 'selection'
@import 'blocks'
@import 'mobile'
@import 'brends'
@import 'sales'
@import 'news'
@import 'footer'
@import 'media'
@import 'catalog'
@import 'copyright'
@import 'adaptive'
@import 'fixedmenu'
*
    margin: 0
    padding: 0
    box-sizing: border-box
body
    font-family: 'Roboto', sans-serif
    font-size: 14px
    user-select: none

._container
    width: 80%
    margin: 0 auto
.mobile__container
    position: relative
.slick-track
    display: flex
.slick-next
    font-size: 30px
    width: 40px
    height: 30px
    display: block
    top: -25px
    right: 10px
    position: absolute
    cursor: pointer
    border: none
    background-color: #fff
    color: #333
    font-family: 'icomoon'
.slick-prev
    cursor: pointer
    font-size: 30px
    width: 40px
    height: 30px
    display: block
    top: -25px
    right: 60px
    position: absolute
    cursor: pointer
    border: none
    background-color: #fff
    color: #333
    font-family: 'icomoon'
.hide
    display: none

.show
    display: block    

.no-before::before
    content: ''

.ab
    font-family: 'icomoon'
    content: "\e99d"
    font-size: 20
    color: #000
// .normalize
//     align-self: flex-end
//     transition: 0.3s
//     display: block
//     position: static        
//     top: auto
//     left: auto
//     margin: 0
//     padding: 25px 0 0 20px    
